<div class="about-container">
  <div class="about-content">
    <h2 data-aos="fade-down">Benvenuti nel mio profilo professionale</h2>
    <div class="intro-text" data-aos="fade-up" data-aos-delay="100">
      <p>Sono Vincenzo Rocca, un appassionato sviluppatore front-end con una fervida curiosità per l'innovazione e la tecnologia.</p>
    </div>
    <div class="details" data-aos="fade-up" data-aos-delay="200">
      <div class="detail-item" data-aos="flip-left" data-aos-delay="300">
        <h3>Formazione</h3>
        <p>La mia passione per lo sviluppo web è nata presso Epicode, dove ho acquisito le competenze e la conoscenza necessarie per trasformare la mia passione in una carriera.</p>
      </div>
      <div class="detail-item" data-aos="flip-right" data-aos-delay="400">
        <h3>Costante Aggiornamento</h3>
        <p>Sono sempre alla ricerca di nuove sfide e opportunità di apprendimento, mantenendomi costantemente aggiornato sulle ultime tecnologie e tendenze nel campo dello sviluppo web.</p>
      </div>
      <div class="detail-item" data-aos="flip-left" data-aos-delay="500">
        <h3>Passione</h3>
        <p>La mia passione per il lavoro mi spinge a superare i limiti e a creare soluzioni creative e innovative per ogni progetto a cui mi dedico.</p>
      </div>
    </div>
    <div class="contact-info" data-aos="fade-up" data-aos-delay="600">
      <p>Contattami se sei interessato a collaborare o se hai domande:</p>
      <p>Mi piacerebbe contribuire al successo di un'azienda del settore e crescere professionalmente in un ambiente stimolante e dinamico.</p>
    </div>
  </div>
</div>
