.about-container {
  padding: 80px 20px;
  background: linear-gradient(135deg, #2925FF, #FF2565); // Blu e rosa definiti direttamente
  color: #EAEAEA; // Testo colore alto contrasto
  text-align: center;

  .about-content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: rgba(18, 18, 18, 0.7); // Sfondo semi-trasparente
    border-radius: 20px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);

    h2 {
      font-family: 'Poppins', sans-serif; // Font per titoli
      font-size: calc(2rem + 1vw); // Responsive font size
      margin-bottom: 30px;
      color: #FFFFFF; // Testo su sfondo chiaro
    }

    .intro-text, .details, .contact-info {
      margin-top: 20px;
    }

    .detail-item {
      margin: 20px 0;
      h3 {
        font-family: 'Montserrat', sans-serif; // Font per sottotitoli
        font-size: calc(1.5rem + 1vw); // Responsive font size
        color: #25FFDF; // Colore acquamarina
      }
      p {
        font-size: calc(1rem + 0.5vw); // Responsive font size
        margin-top: 10px;
      }
    }

    a.cta-button {
      font-family: 'Montserrat', sans-serif; // Font per pulsanti
      background-color: #25FFDF; // Colore uniforme per tutti i pulsanti
      color: #121212; // Testo scuro per contrasto
      padding: 1rem 2rem;
      border-radius: 50px;
      margin-top: 20px;
      transition: background-color 0.3s ease, transform 0.3s ease;
      &:hover {
        background-color: #17CCB8; // Scolorimento leggero al passaggio del mouse
        transform: translateY(-5px);
      }
    }
  }
}

@media (max-width: 768px) {
  .about-container .about-content {
    .detail-item {
      h3 {
        font-size: calc(1.4rem + 0.5vw); // Responsive font size
      }
      p {
        font-size: calc(0.9rem + 0.5vw); // Responsive font size
      }
    }
  }
}
