.project-container, .carousel-section {
  background: linear-gradient(135deg, #2925FF, #FF2565);
  color: #EAEAEA;
  text-align: center;
}

.projects-section {
  margin-top: 80px;
  margin-bottom: 0; // Assicurati che non ci siano spazi alla fine

  .section-title {
    font-size: 2.5rem;
    color: #25FFDF;
    margin-bottom: 30px;
  }

  .projects-grid {
    display: flex;
    justify-content: center;
    gap: 30px;

    .project-item {
      background: #FFFFFF;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      max-width: 300px;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }

      h4 {
        font-size: 1rem;
        color: #2925FF;
        margin-bottom: 15px;
      }

      p {
        font-size: 0.8rem;
        color: #666;
        margin-bottom: 20px;
      }

      .project-video {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 20px;
      }
    }
  }

  .github-link, .other-projects-button {
    background-color: #121212;
    color: #FFFFFF;
    padding: 10px 18px;
    border: 2px solid transparent;
    border-radius: 25px;
    font-size: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    &:hover {
      background-color: #1B1F23;
      border-color: #FFFFFF;
    }
  }
}

.carousel-section {
  margin-top: 0; // Rimuovi spazi extra
}
