<div class="contact-container">
  <div class="contact-content">
    <h2 data-aos="fade-left">Contattami</h2>
    <p data-aos="fade-left" data-aos-delay="200">Hai domande o vuoi semplicemente connetterti? Non esitare a contattarmi!</p>

    <div class="contact-info" data-aos="fade-left" data-aos-delay="400">
      <h3>Informazioni di Contatto</h3>
      <a href="mailto:vincenzorocca88&#64;gmail.com" class="email-link">Email: vincenzorocca88&#64;gmail.com</a>
      <p>Telefono: +393454098887</p>
      <p>Indirizzo: Via Canale, Nocera Terinese, CZ</p>
    </div>

    <div class="contact-github" data-aos="fade-left" data-aos-delay="600">
      <h3>Profilo GitHub</h3>
      <p>Visita il mio GitHub:</p>
      <a href="https://github.com/vincenzo8825" target="_blank" class="github-button">GitHub</a>
    </div>

    <div class="contact-linkedin" data-aos="fade-left" data-aos-delay="800">
      <h3>Profilo LinkedIn</h3>
      <p>Visita il mio LinkedIn:</p>
      <a href="https://www.linkedin.com/in/vincenzo-rocca8825/" target="_blank" class="linkedin-button">LinkedIn</a>
    </div>

    <div class="cv-download" data-aos="fade-left" data-aos-delay="1000">
      <h3>Scarica il Mio CV</h3>
      <p>Interessato a saperne di più su di me? Scarica il mio CV qui:</p>
      <a href="./../../assets/Cv Rocca Vincenzo.zip" download="VincenzoRocca_CV" class="cv-button">Scarica CV</a>
    </div><div class="contact-form" data-aos="fade-left" data-aos-delay="1200">
      <form name="contact" method="POST" data-netlify="true">
        <input type="hidden" name="form-name"  />
        <div class="form-group">
          <label for="name">Nome:</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
          <label for="surname">Cognome:</label>
          <input type="text" id="surname" name="surname" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="message">Messaggio:</label>
          <textarea id="message" name="message" rows="5" required></textarea>
        </div>
        <button type="submit">Invia Messaggio</button>
      </form>
    </div>




  </div>
</div>
